@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    max-width: 100vw;
    font-family: Inter, sans-serif;
    font-size: 18px;
    img{
        width: 100%;
    }
    color: rgb(27, 27, 27);

}
main{
    position: relative;
    .welcome{
        background: #fbf8f3;
    }
}
nav{
    padding: 2rem 2rem 0.5rem 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    position: fixed;
    background: #fbf8f3ea;
    ul{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1;
        overflow: hidden;
        height: 0;
        
    }
    li{
        list-style: none;
        margin-top: 1rem;
        a{
            text-decoration: none;
            font-size: 18px;
            color: rgb(27, 27, 27);

        }

    }
    .sign{
        background: #4d13d1;
        padding: 0.5rem 1rem;
        border-radius: .3rem;
        font-weight: 600;
        a{
        color: white;
        }
    }
    .signup{
        font-weight: 600;
    }
    .btn{
        background: none;
        border: none;
    }
    .btn:active{
        transform: scale(0.95);
    }
}
.container{
    padding: 3rem 2rem 2rem 2rem;
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    a{
        display: block;
        text-align: center;
        margin-top: 1rem;
    }
    .trial{
        background: #4d13d1;
        padding: 1rem;
        border-radius: 0.3rem;
        color: white;
        text-decoration: none;
        font-weight: 600;
    }
    .ex{
        font-weight: 600;
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        img{
            width: 2rem;
            margin-right: 1rem;
        }
    }

}
.maincon{
    padding: 1rem 2rem;
    h4{
        color: #4d13d1;
    }
    h2{
        padding-top: 1rem;
    }
    .item{
        img{
            width: 15%;
            margin-top: 2rem;
        }
        h3, p{
            padding-top: 1rem;
        }
    }
}
.diversify{
    margin-top: 3rem;
    padding: 2rem 2rem 0 2rem;
    background: #4d13d1;
    border-radius: 0.3rem;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    h2{
        margin-bottom: 1rem;
    }
    p{
        margin: 1rem 0 2rem 0;
    }
    .trial{
        text-align: center;
        background: #fbf8f3;
        padding: 1rem;
        border-radius: 0.3rem;
        color:#4d13d1;
        text-decoration: none;
        font-weight: 600;
    }
    img{
        margin-top: 2rem;
    }
}
.testimonials{
    padding: 3rem 0;
    .pcard{
        padding: 1rem;
        border: 1px solid rgba(128, 128, 128, 0.651);
        border-radius: 0.3rem;
        margin-bottom: 2rem;
        .profile{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img{
                width: 4rem;
                margin-right: 1rem;
            }
            h5{
                color: #4d13d1;
                font-size: 18px;
            }
        }
        .con{
            padding: 1.5rem 0;
        }
        a{
            display: block;
            text-align: center;
            background: #4d13d1;
            color: white;
            text-decoration: none;
            padding: 1rem;
            border-radius: 0.3rem;
        }
    }
}
footer{
    text-align: center;
    color: rgb(27, 27, 27);
    background: #fbf8f3;
    padding: 2rem;
    .list{
        h3{
            margin: 1.5rem 0;
        }
        ul{
            list-style: none;
            li{
                padding: 0.5rem;
                a{
                    text-decoration: none;
                    color: rgb(27, 27, 27);
                }
            }
            
        }
    }
}


